/* * {
  border: 1px solid red !important;
} */

html, body {
  scroll-behavior: smooth;
}

body {
  margin-left: 350px;
  margin-right: 350px;
  background-image: url("Resources/wickedbackground.svg"); /* Replace with the path to your image */
  background-size: cover; /* Adjust as needed */
  color: #080606;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */

}

main {
  flex: 1; /* Allow the main content to grow and take up remaining space */
}

header {
  display: flex; /* Change from grid to flex */
  justify-content: space-between; /* Adjust alignment */
  align-items: center; /* Vertically center content */
  padding: 15px;
  color: #080606;
}

header h1 a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element (in this case, the header) */
}


h1 {
  font-weight: 700;
  font-size: 40px;
}

nav {
  display: flex;
  font-size: 15px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #080606; 
}

.aboutme {
  display: flex; /* Change from grid to flex */
  justify-content: space-between; /* Adjust alignment */
  /* padding: 20px;  */
  /* Increase padding for better spacing */
}

.grid1 {
  max-width: 600px; /* Adjust max-width for the content */
}

.grid2 {
  text-align: center;
  padding-right: 100px;
  padding-top: 50px;
}

.aboutme h2,
.aboutme h3,
.aboutme h4,
.aboutme p {
  padding: 10px; /* Adjust padding for better spacing */
  margin: 10px; /* Adjust margin for better spacing */
}

.aboutme h2,
.aboutme h3,
.aboutme h4 {
  line-height: 1;
  font-weight: 600;
}

.aboutme p {
  font-weight: 400;
}

.jv {
  max-width: 100%;
  max-height: 400px;
  width: auto; /* Ensures the width adjusts proportionally to the max-width */
  height: auto; /* Ensures the height adjusts proportionally to the max-height */
  border-radius: 15px;
  border: 3px solid #000;
}


.project {
  margin-bottom: 1px; 
  /* Add some spacing between projects */
}
#projects {
  /* padding: 5px; */
  padding: 10px;
  margin: 10px;
}

.hidden {
  display: none; /* Initially hide image and description */
}

#skills {
  /* padding: 5px; */
  padding-left: 10px;
  margin: 10px;
}

#skills img {
  width: 40px; /* Adjust the width to your desired size */
  height: 100%; /* Adjust the height to your desired size */
  padding: 5px;
  margin-bottom: 1px;
}

.jssquare {
  border-radius: 15px;
}

.contactinfo {
  padding-left: 20px;
}

.contacticons img {
  width: 40px; /* Adjust the width to your desired size */
  height: 40px; /* Adjust the height to your desired size */
  padding: 5px;
}

.project img {
  max-width: 500px; 
  max-height: 100%;
  margin: 30px; /* Center the image horizontally */
  border-radius: 15px;
  border: 2px solid #000;
}


footer {
  /*background-color: #f0f0f0;*/
  padding: 20px;
  text-align: center;
  padding: 10px;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: underline;
}

.gridmobile {
  display: none; /* Hide the gridmobile section by default */
}

.contacticons a {
  text-decoration: none; /* Remove the default underline on links */
}


@media only screen and (max-width: 480px) {
  /* Styles for mobile devices */

  body {
  margin-left: 5px;
  margin-right: 5px;
  }

  .header-hide-s-screen {
    display: none;
  }

  .grid2 {
    display: none;
  }

  .gridmobile {
    display: block; /* Show the gridmobile section for small screens */
    text-align: center; /* Align the image in the center for mobile view */
    padding-bottom: 30px;
  }

  .jvmobile {
    max-height: 100%;
    max-width: 100px;
    border-radius: 15px;
    border: 3px solid #000;
  }

  .project img {
    max-width: 150px; 
    max-height: 100%;
    /* margin: 30px; Center the image horizontally */
    border-radius: 15px;
    border: 2px solid #000;
  }

}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles for tablets portrait */

  body {
    margin-left: 5px;
    margin-right: 5px;
    }
  
    .header-hide-s-screen {
      display: none;
    }
  
    .grid2 {
      display: none;
    }
  
    .gridmobile {
      display: block; /* Show the gridmobile section for small screens */
      text-align: center; /* Align the image in the center for mobile view */
      padding-bottom: 30px;
    }
  
    .jvmobile {
      max-height: 100%;
      max-width: 100px;
      border-radius: 15px;
      border: 3px solid #000;
      
    }

    .project img {
      max-width: 400px; 
      max-height: 100%;
      margin: 30px; /* Center the image horizontally */
      border-radius: 15px;
      border: 2px solid #000;
    }

}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for tablets landscape */

  body {
  margin-left: 5px;
  margin-right: 5px;
  }

  .jvmobile {
    display: none;
  }

  .grid2 {
    text-align: center;
    padding-right: 55px;
    padding-top: 50px;
  }

  .jv {
    max-width: 100%;
    max-height: 400px;
    width: auto; /* Ensures the width adjusts proportionally to the max-width */
    height: auto; /* Ensures the height adjusts proportionally to the max-height */
    border-radius: 15px;
    border: 3px solid #000;
  }

  .gridmobile {
    display: block; /* Show the gridmobile section for small screens */
    text-align: center; /* Align the image in the center for mobile view */
    padding-bottom: 30px;
  }

}


@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  /* Styles for laptops */

    body {
      margin-left: 150px;
      margin-right: 150px;
      background-image: url("Resources/wickedbackground.svg"); /* Replace with the path to your image */
      background-size: cover; /* Adjust as needed */
      color: #080606;
      font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    }
    
    .jvmobile {
      display: none;
    }
  
    .grid1 {
      max-width: 500px; /* Adjust max-width for the content */
    }

    .grid2 {
      text-align: center;
      padding-right: 100px;
      padding-top: 50px;
    }
  
    .jv {
      max-width: 100%;
      max-height: 400px;
      min-width: 150px;
      width: auto; /* Ensures the width adjusts proportionally to the max-width */
      height: auto; /* Ensures the height adjusts proportionally to the max-height */
      border-radius: 15px;
      border: 3px solid #000;
    }
  
    .gridmobile {
      display: block; /* Show the gridmobile section for small screens */
      text-align: center; /* Align the image in the center for mobile view */
      padding-bottom: 30px;
    }
  
  }
