/** {
  border: 1px solid red !important;
}*/

body {
  margin-left: 300px;
  margin-right: 300px;
  background-image: url("Resources/wickedbackground.svg"); /* Replace with the path to your image */
  background-size: cover; /* Adjust as needed */
  color: #080606;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}




header {
  display: grid;
  grid-template-columns: 1fr auto; /* 1fr for h1, auto for remaining space */
  align-items: center; /* Vertically center content */
}

h1 {
  grid-column: 1; /* Place h1 in the first column */
  font-weight: 700; /*text-transform: uppercase;*/
  font-size: 40px;
}

nav {
  grid-column: 2; /* Place nav in the second column */
  display: flex; /* Arrange links horizontally */
  justify-content: flex-end; /* Align links to the right */
  font-size: 15px;
}

nav a {
  margin-right: 10px; /* Add some spacing between links */
}


.aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*align-items: flex-start;*/ /* Align items at the top of each column */
}

.grid1 {
  grid-column: 1;
}

.grid2 {
  grid-column: 2;
  text-align: center;
  /* Align the image in the center of the column */
}

.aboutme h2,
.aboutme h3,
.aboutme h4,
.aboutme p {
  padding: 5px;
  margin: 5px;
}
.aboutme h2,
.aboutme h3,
.aboutme h4 {
  line-height: 1;
  font-weight: 600; /*Use a value from 300 to 700*/
}
.aboutme p {
  font-weight: 400; /*Use a value from 300 to 700*/
}

.jv {
  max-width: 100%; 
  max-height: 400px;
  margin: 30px auto; /* Center the image horizontally */
  border-radius: 15px;
  border: 3px solid #000;
}




.project {
  margin-bottom: 1px; /* Add some spacing between projects */
}
#projects {
  padding: 5px;
  margin: 5px;
}


.hidden {
  display: none; /* Initially hide image and description */
}

#skills {
  padding: 5px;
  margin: 5px;
}

#skills img {
  width: 40px; /* Adjust the width to your desired size */
  height: 100%; /* Adjust the height to your desired size */
  padding: 5px;
  margin-bottom: 1px;
}

.jssquare {
  border-radius: 15px;
}


.contacticons img {
  width: 40px; /* Adjust the width to your desired size */
  height: 40px; /* Adjust the height to your desired size */
  padding: 5px;
}

.project img {
  max-width: 500px; 
  max-height: 100%;
  margin: 30px; /* Center the image horizontally */
  border-radius: 15px;
  border: 2px solid #000;
}


footer {
  /*background-color: #f0f0f0;*/
  padding: 20px;
  text-align: center;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: underline;
}
